---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: influxdb
  namespace: influxdb
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.33
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    TZ: Europe/Stockholm
    image:
      repository: influxdb
      tag: "2.8.0"
      pullPolicy: IfNotPresent

    workload:
      main:
        enabled: true
        primary: true
        type: Deployment
        dbWait: true
        podSpec:
          containers:
            main:
              env:
                DOCKER_INFLUXDB_INIT_MODE: setup
                DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUXDB_ADMIN_NAME}
                DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUXDB_ADMIN_PASSWORD}
                DOCKER_INFLUXDB_INIT_ORG: ${INFLUXDB_ORGANIZATION}
                DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUXDB_BUCKET}
                DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_TOKEN}
              probes:
                liveness:
                  enabled: true
                  type: http
                  port: 8086
                  path: "/health"
                readiness:
                  enabled: true
                  type: http
                  port: 8086
                  path: "/health"
                startup:
                  enabled: true
                  type: http
                  port: 8086
                  path: "/health"

    securityContext:
      container:
        PUID: 0 # Run as root
        runAsNonRoot: false # Allow running as root
        runAsUser: 0 # root user
        runAsGroup: 0 # root group
        readOnlyRootFilesystem: false # Needs to write to root FS? Set to false
      pod:
        fsGroup: 0 # Use root group for volume permissions

    service:
      main:
        ports:
          main:
            port: 8086 # Default InfluxDB 2 port

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: influxdb.${DOMAIN_0}

    persistence:
      data:
        enabled: true
        type: pvc
        mountPath: /var/lib/influxdb2

      config:
        enabled: true
        type: pvc
        mountPath: /etc/influxdb2
