# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-runners
  namespace: arc-runners
spec:
  dependsOn:
    - name: gha-runner-scale-set-controller
      namespace: actions-runner-system
  interval: 15m
  timeout: 20m
  chart:
    spec:
      chart: gha-runner-scale-set
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
      version: 0.13.0
      interval: 15m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    runnerScaleSetName: home-runners
    githubConfigUrl: ${GITHUB_CONFIG_URL}
    githubConfigSecret: arc-github-app-secret
    minRunners: 0
    maxRunners: 4
    resourceMeta:
      autoscalingRunnerSet:
        annotations:
          actions.github.com/cleanup-no-permission-service-account-name: home-runners-cleaner
          actions.github.com/cleanup-github-secret-name: arc-github-app-secret
    controllerServiceAccount:
      namespace: actions-runner-system
      name: gha-runner-scale-set-controller-gha-rs-controller

    containerMode:
      type: kubernetes
      kubernetesModeWorkVolumeClaim:
        accessModes: ["ReadWriteOnce"]
        storageClassName: longhorn-wffc
        resources:
          requests:
            storage: 5Gi

    template:
      metadata:
        labels:
          runner: talos
      spec:
        terminationGracePeriodSeconds: 10
        nodeSelector:
          kubernetes.io/arch: amd64
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          fsGroup: 1000
          fsGroupChangePolicy: "OnRootMismatch"
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        containers:
          - name: runner
            env:
              - name: RUNNER_DEBUG
                value: "true"
              - name: ACTIONS_RUNNER_HOOK_DEBUG
                value: "true"
            image: ghcr.io/actions/actions-runner:2.329.0
            imagePullPolicy: IfNotPresent
            resources:
              requests:
                cpu: 500m
                memory: 1Gi
                ephemeral-storage: 1Gi
              limits:
                cpu: 2000m
                memory: 4Gi
                ephemeral-storage: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
