---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale
  namespace: tailscale
spec:
  interval: 15m
  chart:
    spec:
      chart: tailscale
      version: 11.17.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: enabled
    ignore:
      - target:
          kind: Secret
          name: tailscale-tailscale-secret
        paths:
          - /data
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Stockholm
    tailscale:
      authkey: ${TAILSCALE_KEY}
      routes: ${HOME_IP_RANGE}/24
      hostname: "talos-tailscale"
      advertise_as_exit_node: true
