---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: automatic-ripping-machine
  namespace: automatic-ripping-machine
spec:
  interval: 15m
  chart:
    spec:
      chart: automatic-ripping-machine
      version: 6.15.9
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    TZ: Europe/Stockholm

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: arm.${DOMAIN_0}

    persistence:
      audio:
        enabled: true
        type: nfs
        server: ${NFS_IP}
        path: /mnt/lundgrens_data/plex-media/Audiobooks/Originals/automatic-ripping-machine
        mountPath: /home/arm/music
        targetSelector:
          main:
            main: {}
            arm-perms: {}

      video:
        enabled: true
        type: nfs
        server: ${NFS_IP}
        path: /mnt/lundgrens_data/plex-media/automatic-ripping-machine
        mountPath: /home/arm/media
        targetSelector:
          main:
            main: {}
            arm-perms: {}

    workload:
      main:
        podSpec:
          containers:
            main:
              resources:
                limits:
                  truecharts.org/bluray: 1