---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: switch-external-service
  namespace: external-service
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Stockholm
    service:
      main:
        enabled: true
        externalIP: ${SWITCH_IP}
        ports:
          main:
            enabled: true
            port: 80
            protocol: http
        type: ExternalIP
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: switch.${DOMAIN_0}
