---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: makemkv
  namespace: makemkv
spec:
  interval: 15m
  chart:
    spec:
      chart: makemkv
      version: 15.0.10
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Stockholm

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: makemkv.${DOMAIN_0}

    persistence:
      output:
        type: nfs
        server: ${NFS_IP}
        path: /mnt/lundgrens_data/plex-media/Unindexed

    makemkv:
      KEEP_APP_RUNNING: true
      DARK_MODE: true
      MAKEMKV_KEY: ${MAKEMKV_KEY}
      AUTO_DISC_RIPPER: true
      AUTO_DISC_RIPPER_EJECT: true
      AUTO_DISC_RIPPER_FORCE_UNIQUE_OUTPUT_DIR: true
      DISPLAY_WIDTH: 1920
      DISPLAY_HEIGHT: 1080

    workload:
      main:
        podSpec:
          containers:
            main:
              resources:
                limits:
                  truecharts.org/bluray: 1

    securityContext:
      container:
        PUID: 0
