---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: timetagger
  namespace: timetagger
spec:
  interval: 15m
  chart:
    spec:
      chart: timetagger
      version: 11.0.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Stockholm
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                TIMETAGGER_CREDENTIALS: ${TIMETAGGER_CREDENTIALS}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: timetagger.${DOMAIN_0}
