---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
  namespace: plex
spec:
  interval: 15m
  chart:
    spec:
      chart: plex
      version: 21.0.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Stockholm
    plex:
      # User Defined
      serverIP: ${PLEX_IP}
      additionalAdvertiseURL: "" # https://${PLEX_IP}:32400,https://${PLEX_IP}:32400,http://plex.${DOMAIN_0}:32400,https://plex.${DOMAIN_0}:32400"
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                ALLOWED_NETWORKS: "172.16.0.0/12,10.0.0.0/8,${HOME_IP_RANGE}/16"
                PLEX_CLAIM: ${PLEX_CLAIM_TOKEN}
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${PLEX_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: plex.${DOMAIN_0}
    persistence:
      audiobooks:
        enabled: true
        type: nfs
        path: /mnt/lundgrens_data/plex-media
        mountPath: /audiobooks
        server: ${NFS_IP}
    podOptions:
      hostUsers: true
