apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ngx
  namespace: paperless-ngx
spec:
  interval: 15m
  chart:
    spec:
      chart: paperless-ngx
      version: 11.35.19
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Stockholm

    global:
      stopAll: false

    paperless:

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                PAPERLESS_URL: "{{ .Values.chartContext.appUrl }}"
                PAPERLESS_ADMIN_USER: "${PAPERLESS_ADMIN_USER}"
                PAPERLESS_ADMIN_PASSWORD: "${PAPERLESS_ADMIN_PASSWORD}"
                PAPERLESS_ADMIN_MAIL: "${PAPERLESS_ADMIN_MAIL}"
                PAPERLESS_OCR_LANGUAGE: "swe+eng"
                PAPERLESS_OCR_LANGUAGES: "eng fra deu spa ita swe"
                PAPERLESS_WORKER_TIMEOUT: 21600
                PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
                PAPERLESS_DATE_PARSER_LANGUAES: "se-SE+en"
                # PAPERLESS_WEBSERVER_WORKERS: 2
                # PAPERLESS_CONSUMER_POLLING: 60
                # PAPERLESS_CONSUMER_POLLING_RETRY_COUNT: 3
                # PAPERLESS_CONSUMER_POLLING_DELAY: 5
                # PAPERLESS_APPS: 'allauth.socialaccount.providers.openid_connect'
                # PAPERLESS_SOCIALACCOUNT_PROVIDERS: "{{ .Values.paperless | toJson }}"
                # PAPERLESS_DISABLE_REGULAR_LOGIN: false
                # PAPERLESS_REDIRECT_LOGIN_TO_SSO: false
                # PAPERLESS_ACCOUNT_SESSION_REMEMBER: true

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: paperless.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix

    persistence:
      data:
        type: pvc
      consume:
        enabled: false
      media:
        type: pvc

    cnpg:
      main:
        cluster:
          singleNode: true

    resources:
      limits:
        cpu: 3000m
        memory: 6Gi
