apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  interval: 15m
  chart:
    spec:
      chart: home-assistant
      version: 28.19.17
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Stockholm

    global:
      stopAll: false

    # for now until image is fixed
    image:
      repository: docker.io/homeassistant/home-assistant
      pullPolicy: IfNotPresent
      tag: 2026.2.1@sha256:17441c45ba14560b4ef727ee06aac4d605cf0dc0625fc4f2e043cb2551d72749

    workload:
      main:
        podSpec:
          hostNetwork: true

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: homeassistant.${DOMAIN_0}

    homeassistant:
      trusted_proxies:
        - 172.16.0.0/16
        - 172.17.0.0/16

    cnpg:
      main:
        cluster:
          singleNode: true
    addons:
      codeserver:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: internal
          hosts:
            - host: homeassistant.code.${DOMAIN_0}
          integrations:
            nginx:
              enabled: true
            certManager:
              certificateIssuer: domain-0-le-prod
              enabled: true
