apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyfin
      version: 22.3.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    TZ: Europe/Stockholm

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: jellyfin.${DOMAIN_0}

    persistence:
      data:
        enabled: true
      movies:
        enabled: true
        type: nfs
        server: ${NFS_IP}
        path: /mnt/lundgrens_data/plex-media/Movies
        mountPath: /data/movies
      series:
        enabled: true
        type: nfs
        server: ${NFS_IP}
        path: /mnt/lundgrens_data/plex-media/TV-Shows
        mountPath: /data/series

    autodiscovery:
      enabled: true

    resources:
      limits:
        cpu: 6000m
        memory: 8Gi
